#banner {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav {
  background-color: black;
  padding-left: 42%;
  padding-right: 42%;
}

a {
  color: white;
  font-size: 30px;
}

a:hover{
  text-decoration: none;
  color: firebrick;
}

#orderCompleted {
  display: none;
}

#address {
  display: none;
}